@import views.html.helper.CSRF
@import views.html.helper.form
@()(implicit header: RequestHeader)
@main("Create a New Team") {
    <div class="container d-flex justify-content-center pb-3">
        <h5>New Team</h5>
    </div>
    <form id="createTeamForm" method="post" action="@routes.AsyncController.createTeam()">
        @CSRF.formField
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input name="name" type="text" class="form-control" id="name" placeholder="Ergo Foundation" required>
                <small id="emailHelp" class="form-text text-muted">Others can search your team by name.</small>
            </div>
        </div>
      <div class="form-group row">
        <label for="asset" class="col-sm-2 col-form-label">Asset</label>
        <div class="col-sm-10">
            <div class="form-group form-inline">
                <select class="form-control col-sm-3" id="assetType">
                    <option>ERG</option>
                    <option>Other Token</option>
                </select>
                <span class="ml-1 mr-1">-</span>
                <input name="tokenId" type="text" class="form-control col-sm-8" id="tokenId" placeholder="Token Id" required disabled>
                <small id="emailHelp" class="form-text text-muted">Define your teams' asset, whether it is ERG or other tokens.</small>
            </div>
        </div>
      </div>
        <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input name="address" type="text" class="form-control" id="address" placeholder="4MQyML64GnzMxZgm" required>
                <small id="emailHelp" class="form-text text-muted">ZK treasury address protecting boxes, e.g. threshold signature. Please avoid putting public keys in registers since there may be boxes for the address that are not spendable by your team!</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="pks" class="col-sm-2 col-form-label">Members</label>
            <div class="col-sm-10">
                <div data-role="dynamic-fields">
                    <div class="form-inline">
                        <input type="text" class="form-control col-sm-3" id="member-nick" placeholder="Nick Name" required>
                        <span class="ml-1 mr-1">-</span>
                        <input type="text" class="form-control col-sm-8" id="member-pk" placeholder="Public Key" required>
                        <a href="#" class="material-icons btn-outline-danger" data-role="remove">remove</a>
                        <a href="#" class="material-icons btn-outline-success" data-role="add">add</a>
                    </div>
                </div>
                <small id="emailHelp" class="form-text text-muted">
                    List of members participating in the signature. e.g. pkA, pkB, pkC in case of "atLeast(2, Coll(proveDlog(pkA), proveDlog(pkB), proveDlog(pkC)))". Nick names will be shown only to members to better identify who has approved/rejected proposals!
                    For example put "Jack" as Nick Name and "02b353d..." as Public Key.
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea name="description" class="form-control" id="description" placeholder="This team includes all Ergo board members and ..." required></textarea>
                <small id="emailHelp" class="form-text text-muted">
                    A description for the team.
                </small>
            </div>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" >Create</button>
    </form>
}
